.support__text {
  margin: 0;
  margin-top: 50px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #8E8E98;

}

@media screen and (max-width: 954px) {
  .support__text {
    margin-top: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (max-width: 650px) {
  .support__text {
    margin-top: 30px;
    font-size: 12px;
    line-height: 18px;
  }
}