.header__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 112px;
  line-height: 112px;
}

@media screen and (max-width: 954px) {
  .header__title {
    margin-top: 70px;
    margin-bottom: 0;
    font-size: 70px;
    line-height: 90px;
  }
}

@media screen and (max-width: 650px) {
  .header__title {
    margin-top: 60px;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
  }
}