.cards__figure-upper {
  width: 100%;
  height: 230px;
  background-color:#FFD233;
  border-radius: 10px;
}

@media screen and (max-width:650px) {
  .cards__figure-upper {
    height: 67px;
    border-radius: 4px;
  }
}