.warranty__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #EAEAF0;
  padding-bottom: 38px;
}

@media screen and (max-width: 650px) {
  .warranty__card-title {
    padding-bottom: 36px;
  }
}