.services__card-subtitle {
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  padding-bottom: 40px;
}

@media screen and (max-width:650px) {
  .services__card-subtitle {
    font-size: 24px;
    padding-bottom: 28px;
  }
}