.form-email__string {
  box-sizing: border-box;
  padding: 0;
  padding-left: 16px;
  border: none;
  height: 50px;
  background: rgba(142, 142, 152, 0.2);
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.375px;
  color: #FFFFFF;
  transition-duration: .5s;
}

.form-email__string:hover {
  background: rgba(142, 142, 152, 0.3);
}

.form-email__string:focus {
  background: rgba(142, 142, 152, 0.3);
}
